<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
<!-- add notes starts -->
<div  fxLayoutAlign=" center">
<app-add-notes (onNewEntryAdded)="addNewEntry($event)"></app-add-notes>
</div>
<!-- add notes ends -->

<!-- note cards starts -->
<div  fxLayout="row wrap" fxLayoutAlign="center center"  >
<app-notes-collection
  [NoteArray]="notes"
  (onNewEntryDeleted)="addNewEntry($event)"
  (onNewColorChange)="addNewEntry($event)"
  (eventEmit)="eventLabel($event)"
  (update)="change($event)"
></app-notes-collection>
</div>
<!-- note cards ends -->
</div>
