<div  class="collaborator">
  <mat-card>
    <mat-card-header>
    <div class="collab">Collaborators</div>
    </mat-card-header>
    <hr>
    <br>
<mat-card-content>
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
      </button>
      <mat-card-content fxFlex class="content">
          {{firstName | titlecase}} {{lastName | titlecase}} (Owner)<br>
      </mat-card-content>

    </div>
    <div class="contentNew"><mat-card-content fxFlex>{{email}}</mat-card-content></div>




    <div style="width: 95%" fxLayout="row" fxLayoutGap="10px" *ngFor="let data of colList ">
      <div fxFlex="10%" fxLayoutAlign="start center">
          <button mat-mini-fab class="miniFab" disabled >{{data.firstName|titlecase|slice:0:1}} </button>
      </div>
      <div fxFlex="2%"></div>
      <div fxFlex="78%" fxLayout="column" fxLayoutAlign="start start"  class="inputDiv">
          <span  class="content"> {{data.firstName | titlecase}} {{data.lastName | titlecase}}</span>
            <span class="contentNew1">{{data.email}}</span>
        </div>
      <div fxFlex="10%" fxLayoutAlign="end center">
          <i class="material-icons icon" (click)="removeCollaborator(data)">cancel</i>
      </div>
    </div>



  <div style="width: 95%" fxLayout="row" fxLayoutGap="10px" *ngFor="let data of listCollaborator ">
      <div fxFlex="10%" fxLayoutAlign="start center">
          <button mat-mini-fab class="miniFab" disabled>{{data.firstName|titlecase|slice:0:1}}</button>
      </div>
      <div fxFlex="2%"></div>
      <div fxFlex="78%" fxLayout="column" fxLayoutAlign="start start"  class="inputDiv">
        <span  class="content"> {{data.firstName | titlecase}} {{data.lastName | titlecase}}</span>
          <span class="contentNew1">{{data.email}}</span>
      </div>
      <div fxFlex="10%" fxLayoutAlign="end center">
          <i class="material-icons icon" (click)="addCollaboratorList(data)">check</i>
      </div>
    </div>


    <div class="person" fxLayout="row" ><button mat-mini-fab disabled><mat-icon>person_add</mat-icon></button>
    <input class="place" [matMenuTriggerFor]="menu" placeholder="person or email to share with..." [(ngModel)]="search" (keyup)="Collabname()" >

    </div>


</mat-card-content>

<mat-card-footer class="collabcolor">
  <div  class="buttons">
        <button mat-button (click)=close() >Cancel</button>
        <button mat-button (click)=close() >Save</button>
  </div>
  </mat-card-footer>

  </mat-card>
  <mat-menu  (click)="$event.stopPropagation()" #menu="matMenu"   [overlapTrigger]="false">
    <button mat-menu-item style="width:280px" *ngFor='let search of userlist' (click)="addToColaborator(search)">
        {{search.firstName | titlecase}} {{search.lastName | titlecase}}   [{{search.email}}]
    </button>
  </mat-menu>

</div>
