<mat-card class="matcard" [ngStyle]="{ 'background-color': updateColor }">
  <div fxLayout="row">
    <div
      fxFlex="90%"
      data-text="Title"
      id="title"
      *ngIf="!data.isDeleted"
      contenteditable="true"
      class="div2"
      [innerHTML]="data.title"
    ></div>
    <div
      fxFlex="90%"
      data-text="Title"
      *ngIf="data.isDeleted"
      id="title"
      contenteditable="false"
      class="div2"
      [innerHTML]="data.title"
    ></div>
    <div fxFlex="10%" class="action">
      <!-- pin starts -->
      <app-pin [note]="data"></app-pin>
      <!-- pin ends -->
    </div>
  </div>

  <mat-card-content class="take_note">
    <div data-text="Take a note.." id="description" contenteditable="true" *ngIf="!data.isDeleted && data.description" class="div2" [innerHTML]="data.description"></div>
    <div data-text="Take a note.." id="description" *ngIf="data.isDeleted &&  data.description" contenteditable="false" class="div2" [innerHTML]="data.description"></div>
  </mat-card-content>



    <div class="note" *ngFor="let check of tempArray" fxLayout="row">

      <mat-checkbox fxFlex="10%" *ngIf="check.status=='open'&& !check.isDeleted" (click)=checkBox(check)></mat-checkbox>
      <input [(ngModel)]=check.itemName fxFlex="80%" class="note" (keydown)=editing(check,$event)
      [ngStyle]="{ 'background-color': updateColor }" *ngIf="!check.isDeleted && check.status=='open' ">
      <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) *ngIf="!check.isDeleted && check.status=='open'">clear</mat-icon>
    </div>

      <hr *ngIf="checklist">
      <div fxLayout="row" *ngIf="checklist">
        <mat-icon fxFlex="5%" *ngIf="!adding">add</mat-icon>
        <mat-checkbox *ngIf="adding" [(ngModel)]=addCheck  color="primary"></mat-checkbox>
        <input  fxFlex="95%" class="note" placeholder="List Item" [ngStyle]="{ 'background-color': updateColor }" [(ngModel)]=newList (keydown)=addList($event)/>
      </div>
      <hr *ngIf="checklist">

      <div class="note" *ngFor="let check of tempArray" fxLayout="row">
        <mat-checkbox fxFlex="10%" checked=true *ngIf="check.status=='close'&& !check.isDeleted" (click)=checkBox(check)></mat-checkbox>
        <input [(ngModel)]=check.itemName class="note" [ngStyle]="{ 'background-color': updateColor }" style="text-decoration: line-through;" fxFlex="80%" *ngIf="check.status=='close' && !check.isDeleted"
          (keydown)=editing(check,$event)>
        <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(check) *ngIf="!check.isDeleted && check.status=='close'">clear</mat-icon>
      </div>
  <mat-card-actions flexLayout="row">
    <mat-chip-list>
      <div *ngFor="let data1 of labels">
        <mat-chip
          >{{ data1.label }}
          <mat-icon matChipRemove (click)="deleteLabel(data.id, data1.id)"
            >cancel</mat-icon
          >
        </mat-chip>
      </div>
    </mat-chip-list>
    <mat-chip-list>
      <div *ngFor="let label of data.reminder">
        <mat-chip *ngIf="!label.isDeleted">
        <mat-icon class="clock" mat-icon-button>access_time</mat-icon>
        {{label | date:"medium"}}
          <mat-icon matChipRemove (click)="removeRemainder(data.id)">cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
    <!-- reminder starts -->
    <app-reminder  [note]="data" (eventEmit)="eventOccured($event)" [Delete]="data.isDeleted"> </app-reminder>
    <!-- reminder endss -->
    <!-- collaborator starts -->
    <app-collaborator [Delete]="data.isDeleted"></app-collaborator>
    <!-- collaborator ends -->
    <!-- color change starts -->
    <app-change-color
      (eventEmit)="colorUpdate($event)"
      [Delete]="data.isDeleted"
      [note]="data"
    ></app-change-color>
    <!-- color change ends -->
    <!-- add image starts -->
    <app-add-image [Delete]="data.isDeleted"> </app-add-image>
    <!-- add image ends -->
    <!-- archive starts -->
    <app-archive
      [note]="data"
      [Delete]="data.isDeleted"
      (eventEmit)="eventOccured($event)"
    >
    </app-archive>
    <!-- archive ends -->
    <!-- more starts -->
    <app-more
      [note]="data"
      [Delete]="data.isDeleted"
      (labelEvent)="labelAdded($event)"
    >
    </app-more>
    <!-- more ends -->

    <button mat-button class="float" (click)="onNoClick()">Close</button>
  </mat-card-actions>
</mat-card>
