.container{
  height: 100%;
  width: 100%;
  margin-top: 70px;
}
.topDiv{
  margin-top: 2%
}
.title{
  font-weight: 400;
  font-size: 20px
}
.divider{
  margin: 5px
}
.question{
  font-weight: 300;
  font-size: 18px
}
.formfield{
  width: 100%;
}
.miniFab{
  box-shadow: none;
}

.username{
  font-size: 13px;
}
.date{
  opacity: 0.5;
}
.checklist{
  padding-bottom: 5px;
}
.icon{
  opacity: 0.5;
  cursor: pointer;
}

.br[_ngcontent-c14] {
  position: relative;
}
.list{
  margin: -19px 0 0 0;
}









