@import '../../../scss/variables.scss';
@import "../../../scss/mixin.scss";

.div2 {
  	width: 130px;
	word-wrap: break-word;
}
.card_note {
	margin: 1%;
	height: min-content;
	&:hover .action {
		opacity: 1;
	}
}
.action {
	opacity: 0;
}
.grid-card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	> * {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		&:not(:last-child) {
			margin-right: 12px;
		}
	}
}
.list-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	> *:not(:last-child) {
		margin-bottom: 12px;
	}
}
@media screen and(max-width: 859px) {
	.grid-view {
		flex: 0 1 calc(30% - 12px);
	}
	.grid-card > *:not(:last-child) {
		margin-right: 32px;
	}
}
@media screen and(max-width: 599px) {
	.grid-view {
		flex: 0 1 calc(95% - 12px);
	}
	.grid-card > *:not(:last-child) {
		margin-right: unset;
		margin-bottom: 12px;
	}
}
.grid-view {
	width: 300px;
}
.list-view {
	width: 870px;
}

.label {
	max-width: 100px;
}
div:empty:before {
	content: attr(data-text);
	color: $gray;
}
::ng-deep.note {
	width: 100%;
	height: auto;
	border: transparent;
	font-family: $font_0, $font_1, $font_2, $font_3;
	font-size: 15px;
	outline: none;
}
