<div class="note-card" [ngClass]="{'grid-card':!toggle,'list-card ':toggle}"  class="div1"  >

  <mat-card class="card_note" [ngClass]="{'grid-view':!toggle,'list-view':toggle}" *ngFor="let note of NoteArray | search:searchInput"  [ngStyle]="{'background-color':note.color}">


        <div fxLayout="row">
      <div fxFlex=90% (click)="openDialog(note)" class="div2" [innerHTML]="note.title"></div>
      <div fxFlex=10% class="action">
       <app-pin [note]="note" ></app-pin>
      </div>
    </div>


    <mat-card-content class="take_note">
      <div (click)="openDialog(note)" class="div2" [innerHTML]="note.description">
      </div>
      <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row" >
        <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" (click)=checkBox(checklist,note)></mat-checkbox>
        <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName fxFlex="90%" class="note"
          (click)="openDialog(note)" [style.backgroundColor]="note.color">
       </div>

        <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row">
        <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist,note)></mat-checkbox>
        <del *ngIf="!checklist.isDeleted && checklist.status=='close'" (click)="openDialog(note)">{{checklist.itemName}}</del>
      </div>

    </mat-card-content>
    <mat-chip-list>
      <div *ngFor="let label of note.noteLabels">
        <mat-chip (click)=labelClick(label.label)>{{label.label}}
          <mat-icon matChipRemove (click)=deleteLabel(note,label)>cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
    <mat-chip-list>
       <div  *ngIf="checkDate(note.reminder[0])">
      <div *ngFor="let label of note.reminder">
        <mat-chip *ngIf="!label.isDeleted && note.reminder[0]!='Invalid Date'">
        <mat-icon class="clock" mat-icon-button>access_time</mat-icon>
        {{label | date:"medium"}}
          <mat-icon matChipRemove (click)="removeRemainder(note.id)">cancel</mat-icon>
        </mat-chip>
      </div>
    </div>
    <div  *ngIf="!checkDate(note.reminder[0])">
      <div *ngFor="let label of note.reminder">
        <mat-chip *ngIf="!label.isDeleted && note.reminder[0]!='Invalid Date'">
        <mat-icon class="clock" mat-icon-button>access_time</mat-icon>
       <del> {{label | date:"medium"}}</del>
          <mat-icon matChipRemove (click)="removeRemainder(note.id)">cancel</mat-icon>
        </mat-chip>
      </div>
    </div>
    </mat-chip-list>
    <mat-card-actions class="action">
        <!-- reminder starts -->
      <app-reminder [note]="note" [Delete]="note.isDeleted" (eventEmit)=eventOccured($event)> </app-reminder>
        <!-- reminder starts -->
       <!-- collaborator starts -->
      <app-collaborator [Delete]="note.isDeleted"></app-collaborator>
      <!-- collaborator ends -->
       <!-- color change starts -->
      <app-change-color [note]="note" [Delete]="note.isDeleted" (eventEmit)=eventOccured($event)></app-change-color>
       <!-- color change ends -->
        <!-- add image starts -->
      <app-add-image [Delete]="note.isDeleted"> </app-add-image>
       <!-- add image ends -->
        <!--  archive starts -->
      <app-archive [note]="note" [Delete]="note.isDeleted" (eventEmit)=eventOccured($event)> </app-archive>
       <!--  archive ends -->
       <!-- more starts -->
      <app-more [note]="note" [Delete]="note.isDeleted" (eventEmit)=eventOccured($event)></app-more>
      <!-- more ends -->
    </mat-card-actions>

  </mat-card>

</div>
