.span {
  top: 10px;
  right: 0px;
  position: absolute;
}

.div2 {
  outline: none;
  width: 130px;
  position: relative;
  word-wrap: break-word;
}
div:empty:before {
  content: attr(data-text);
  color: gray;
}

.take_note {
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 0px;
}
.card_note {
  margin: 1%;
  height: min-content;

}
/* .note-card
{

  display:flex;
  flex-wrap:wrap;

} */
.card_note:hover .action {
  opacity: 1;
}
.action {
  opacity: 0;
}

.grid-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;



}
.list-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center


}
.grid-card > * {
  box-sizing: border-box;
}
.grid-card > *:not(:last-child) {
  margin-right: 12px;
}
/* medium size viewport */
@media screen and (max-width: 859px) {
  /* Column Gap */
  .grid-card > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .grid-view {
    flex: 0 1 calc(30% - 12px);

  }
}
/* small size viewport */
@media screen and (max-width: 599px) {

  .grid-view {
    flex: 0 1 calc(95% - 12px);

  }
  .grid-card > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 12px;
  }
}
.list-card > *:not(:last-child) {
  margin-bottom: 12px;
}

.grid-view {
  width:300px;

}
.list-view {
  width: 870px;
}
::ng-deep.note{
  width: 100%;
height: auto;
border:none;
 border: transparent;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
outline: none

}
.wrap
{
  white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden !important;
}
.label
{
 max-width:100px;
}
