
@import "../../../scss/_variables.scss";

.matcard
{
  margin-top:7%;
}
.opacity {
	opacity: 0.5;
}
.close {
	float: right;
}
.div1 {
	margin-top: 10%;
}
div:empty:before {
	content: attr(data-text);
	color: $gray;
}

