<div fxLayoutAlign="space-evenly center" style="margin-top:2%">
    <mat-card class="matcard" *ngIf="note1">
        <div data-text="Take a note..."  contenteditable="true" class="div2" (click)="note1=!note1">
        </div>

        <span class="span">
          <button mat-icon-button>
          <i class="material-icons" style="opacity: 0.5;">list</i>
          </button>


          <button mat-icon-button>
          <i class="material-icons" style="opacity: 0.5;">photo</i>
          </button>

          <button mat-icon-button>
          <i class="material-icons" style="opacity: 0.5;">edit</i>
          </button>

        </span>
        </mat-card>

        <mat-card class="matcard" *ngIf="!note1">
            <mat-card-header>
                <div data-text="Title" id="title" contenteditable="true" class="div2">
                </div>
                <span style="float:right;"><button mat-icon-button><img src="../../../assets/images/pin.svg"></button></span>
            </mat-card-header>

            <mat-card-content class="take_note">
                <div data-text="Take a note.." id="description" contenteditable="true" class="div2">
                </div>
            </mat-card-content>

            <mat-card-actions flexLayout="row">
              <button mat-icon-button>
                <i class="material-icons" style="opacity: 0.5;"> touch_app </i>
              </button>

              <button mat-icon-button>
              <i class="material-icons" style="opacity: 0.5;"> person_add </i>
              </button>

              <button mat-icon-button>
              <i class="material-icons" style="opacity: 0.5;" >color_lens</i>
              </button>

              <button mat-icon-button>
              <i class="material-icons" style="opacity: 0.5;">photo</i>
              </button>

              <button mat-icon-button>
                <i class="material-icons" style="opacity: 0.5;"> archive </i>
              </button>

            <button mat-icon-button>
            <i class="material-icons" style="opacity: 0.5;"> more_vert </i>
            </button>

            <button mat-icon-button>
            <i class="material-icons" style="opacity: 0.5;">rotate_left </i>
            </button>

            <button mat-icon-button>
            <i class="material-icons" style="opacity: 0.5;">rotate_right</i>
            </button>

            <button mat-button style="float:right" (click)="note1=!note1; postValue();" (clickOutside)="(note1=false)"> Close</button>
            </mat-card-actions>

          </mat-card>

</div>
