<div fxLayoutAlign="space-evenly center" class="div1">
  <mat-card class="matcard"  *ngIf="note1">
    <div
      data-text="Take a note..."
      contenteditable="true"
      class="div2"
      (click)=noteOpen()


    ></div>

    <span class="span">

      <button mat-icon-button (click)="check=true;noteOpen() "><i class="material-icons">list</i></button>

      <button mat-icon-button><i class="material-icons">photo</i></button>

      <button mat-icon-button><i class="material-icons">edit</i></button>
    </span>
  </mat-card>

  <mat-card [ngStyle]="{ 'background-color': cardColor }"class="matcard"*ngIf="!note1">
  <div>
    <div fxLayout="row">
      <div
        data-text="Title"
        id="title"
        contenteditable="true"
        class="div2"></div>
      <div class="action">
        <!-- pin starts -->
        <app-pin (eventEmit)="eventpin($event)"></app-pin>
        <!-- pin ends -->
      </div>
    </div>

    <mat-card-content class="take_note">
      <div data-text="Take a note.." id="description" contenteditable="true" class="div2" *ngIf="!check" ></div>
      <div *ngIf="check" >
        <div *ngFor="let data of dataArray" fxLayout="row">
          <mat-checkbox fxFlex="5%" [(ngModel)]=data.isChecked (click)="isChecked=!isChecked"></mat-checkbox>
          <input fxFlex="90%"  class="note"  [(ngModel)]=data.data  [ngStyle]="{ 'background-color': cardColor }">
               <mat-icon fxFlex="5%" (click)=onDelete(data) matTooltip="delete">clear</mat-icon>
         </div>
        <hr>
         <div fxLayout="row">
          <mat-icon fxFlex="5%" *ngIf="!adding">add</mat-icon>
          <mat-checkbox fxFlex="5%" *ngIf="adding" [(ngModel)]=addCheck (click)="isChecked=!isChecked" ></mat-checkbox>

          <input  [(ngModel)]=data [ngStyle]="{ 'background-color': cardColor }" fxFlex="95%" class="note" placeholder="List Item" (keydown)="onEnter($event)"(keydown.backspace)="onDelete()"  />
          </div>
         <hr>
      </div>
    </mat-card-content>
  </div>

    <mat-card-actions flexLayout="row">
      <mat-chip-list>
        <div *ngFor="let label of labelName">
          <mat-chip *ngIf="!label.isDeleted"
            >{{ label.label }}
            <mat-icon matChipRemove (click)="delete()">cancel</mat-icon>
          </mat-chip>
        </div>
      </mat-chip-list>
      <mat-chip-list>
        <div>
          <mat-chip *ngIf="reminder!=null">
          <mat-icon class="clock" mat-icon-button>access_time</mat-icon>
          {{reminder | date:"medium"}}
            <mat-icon matChipRemove (click)="removeRemainder()" >cancel</mat-icon>
          </mat-chip>
        </div>
      </mat-chip-list>

      <!-- reminder starts -->
      <app-reminder (reminderEmit)="reminderEvent($event)"></app-reminder>
      <!-- reminder ends -->
      <!-- collaborator starts -->
      <app-collaborator></app-collaborator>
      <!-- collaborator  ends -->
      <!-- color change starts -->
      <app-change-color
        (eventEmit)="eventOccuredcolor($event)"
      ></app-change-color>
      <!-- color change ends -->
      <!-- add image starts -->
      <app-add-image></app-add-image>
      <!-- add image ends -->
      <!-- archive starts -->
      <app-archive (eventEmit)="eventOccured($event)"></app-archive>
      <!-- archive ends -->
      <!-- more starts -->
      <app-more (labelEvent)="eventlabel($event)"></app-more>
      <!-- more ends -->

      <button
        mat-button
        class="close"
        (click)="postValue();check=false;noteOpen();" >
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>
