<div fxLayoutAlign="space-evenly center" class="div1">
  <mat-card class="matcard"  *ngIf="note1">
    <div
      data-text="Take a note..."
      contenteditable="true"
      class="div2"
      (click)=noteOpen()


    ></div>

    <span class="span">

      <button mat-icon-button (click)="checklist=true;noteOpen() "><i class="material-icons">list</i></button>

      <button mat-icon-button><i class="material-icons">photo</i></button>

      <button mat-icon-button><i class="material-icons">edit</i></button>
    </span>
  </mat-card>

  <mat-card [ngStyle]="{ 'background-color': cardColor }"class="matcard"*ngIf="!note1">
  <div>
    <div fxLayout="row">
      <div
        data-text="Title"
        id="title"
        contenteditable="true"
        class="div2"></div>
      <div class="action">
        <!-- pin starts -->
        <app-pin (eventEmit)="eventpin($event)"></app-pin>
        <!-- pin ends -->
      </div>
    </div>

    <mat-card-content class="take_note">
      <div
        data-text="Take a note.."
        id="description"
        contenteditable="true"
        class="div2"
        *ngIf="!checklist"
      ></div>
      <div *ngIf="checklist" >

        <hr>
         <div fxLayout="row">
          <mat-icon fxFlex="5%">add</mat-icon>
          <mat-checkbox fxFlex="5%" ></mat-checkbox>

          <input [ngStyle]="{ 'background-color': cardColor }" fxFlex="95%" class="note" placeholder="List Item" />
          </div>
         <hr>
      </div>
    </mat-card-content>
  </div>

    <mat-card-actions flexLayout="row">
      <mat-chip-list>
        <div *ngFor="let label of labelName">
          <mat-chip *ngIf="!label.isDeleted"
            >{{ label.label }}
            <mat-icon matChipRemove (click)="delete()">cancel</mat-icon>
          </mat-chip>
        </div>
      </mat-chip-list>

      <!-- reminder starts -->
      <app-reminder></app-reminder>
      <!-- reminder ends -->
      <!-- collaborator starts -->
      <app-collaborator></app-collaborator>
      <!-- collaborator  ends -->
      <!-- color change starts -->
      <app-change-color
        (eventEmit)="eventOccuredcolor($event)"
      ></app-change-color>
      <!-- color change ends -->
      <!-- add image starts -->
      <app-add-image></app-add-image>
      <!-- add image ends -->
      <!-- archive starts -->
      <app-archive (eventEmit)="eventOccured($event)"></app-archive>
      <!-- archive ends -->
      <!-- more starts -->
      <app-more (labelEvent)="eventlabel($event)"></app-more>
      <!-- more ends -->

      <button
        mat-button
        class="close"
        (click)="checklist=false;noteOpen(); postValue()"

      >
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>
