@import '../../../scss/_mixin.scss';

//colors
$black: rgb(0, 0, 0);
$color_buttercup_approx: rgb(235, 174, 22);
$white: rgb(255, 255, 255);
$color_selective_yellow_approx: rgb(255, 187, 0);
$color_iron_approx: rgb(214, 218, 216);
$black_54: rgba(0, 0, 0, 0.54);

.commonColor {
  color:$black;
}
.head {

  @include width(50%);
  @include wrap();
}
.view {
  margin-left: 3%;

}
.person {
  margin-left: 20%;

}
.search {
  height: 39px;
  @include width(90%);
  background-color: $color_buttercup_approx;
  border: 0;

  border-radius: 5px;
  font-size: 20px;
  outline: none;
  padding: 0 0 0 47px;
}
.searchicon {
  position: absolute;
  padding-left: 10px;

}
.toolbar {
  background-color: $color_selective_yellow_approx;
  position: fixed;
  z-index: 2;
}
.material-icons {
  font-size: 30px;
}
.example-container {
  height: fit-content;
  @include input_width();
}
.example-sidenav {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  background-color: $color_iron_approx;
  position: fixed;
  margin: 55px 0 0 0;
  @include width(286px);
}
.mat-stroked-button {
  border: 0;
  line-height: 58px;
  @include width(270px);
  background-color: $color_iron_approx;
  text-align: left;
  font-weight: 400;
}
.Link {
  color: $black_54;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
}
.terms {
  display: block;
  margin: 12px 15px 12px 24px;
}
.img {
  margin-right: 20px;
}
.para {
  margin-left: 20px;
}
.example-card {
  max-width: 300px;
  max-height: 150px;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 1;
}
.button2 {
  margin-left: 109px;
  border: 1px solid $black;

}
.profilepic1 {
  @include width(70px);
  height: 70px;
  border-radius: 50%;
}
.profilepic2 {
  @include width(40px);
  height: 40px;

  border-radius: 100%;
}
.input {
  display: none;
}
.change_image {
  text-align: center;
  opacity: 0;
  padding-top: 35px;
  &:hover {
    background-color: $white;

    opacity: 0.6;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
  }
}
input:focus {
  background-color: $white;
}
.mat-menu
{
  position:fixed;
}
