<div fxFlex>
  <div fxLayout="column wrap">
    <div>
      <mat-toolbar color="primary" class="toolbar" >
        <mat-toolbar-row >
          <div div fxLayout="row" fxFlex=100 >

            <div fxFlex=30 fxFlex.xs=35  style="width:200px" fxLayout="row" fxLayoutAlign="start center"  >
              <div>
          <button mat-icon-button class="menu commonColor" matTooltip="Menu" >
            <i (click)="drawer.toggle()" class="material-icons ">
              menu
            </i>
          </button>
        </div>
          <div  class="head commonColor" >
          <span>{{name}}</span></div>

         </div>
          <div fxFlex=40 fxFlex.xs=45>
            <button mat-icon-button class="searchicon commonColor" (click)="search();displayName(' Fundoo Notes  ')" >
              <i class="material-icons">
                search
              </i>
            </button>
            <input type="input" (click)="search();displayName('Fundoo Notes')" (keyup)="sendmessage()" placeholder="search" class="search"
              [(ngModel)]="searchInput">
          </div>
          <div fxFlex=30 fxFlex.xs=30 fxLayoutAlign="end none" >

          <button mat-icon-button aria-label="view_agenda"  matTooltip="view" class="view commonColor" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true">
            <mat-icon aria-label="view_stream" (click)="viewList()" *ngIf="grid==0">view_stream</mat-icon>
            <mat-icon aria-label="view_module" (click)="viewGrid()" *ngIf="grid==1">view_module</mat-icon>

          </button>
          <button mat-icon-button class=" person commonColor" matTooltip="Cart">
          <i class="material-icons" (click)="cart()">
              shopping_cart
              </i>
            </button>
          <button mat-icon-button class=" person" [matMenuTriggerFor]="appMenu" (clickOutside)="logout=false">
            <img src="{{img}}" class="profilepic2">
          </button>
        </div>
        </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div>
      <mat-sidenav-container class="example-container" fxFill hasBackdrop="false" >
        <mat-sidenav #drawer class="example-sidenav" mode="side"  [mode]="width > 720?'side':'over'">
          <mat-list>
            <button mat-stroked-button (click)="notes();displayName('Fundoo Notes  ')">
              <img class="img" src="../../../assets/images/note.svg">Notes</button>
            <br>
            <button mat-stroked-button (click)="reminder();displayName('  Reminders   ')">
              <img class="img" src="../../../assets/images/reminders.svg">Reminder</button>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>

            <app-addlabel  (labelname)="eventlabel($event)"></app-addlabel>

          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>
            <button mat-stroked-button (click)="archive();displayName(' Archive  ')">
              <img class="img" src="../../../assets/images/archive.svg">Archive</button>
            <br>
            <button mat-stroked-button (click)="trash();displayName(' Trash    ')">
              <img class="img" src="../../../assets/images/tash.svg">Trash</button>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>
            <button mat-stroked-button>
              <img class="img" src="../../../assets/images/settings.svg">Settings</button>
            <br>
            <button mat-stroked-button>
              <img class="img" src="../../../assets/images/feedback.svg">Send feedback</button>
            <br>
            <button mat-stroked-button>
              <img class="img" src="../../../assets/images/help.svg">Help</button>
            <br>
            <button mat-stroked-button>
              <img class="img" src="../../../assets/images/appdownloads.svg">App downloads</button>
            <br>
          </mat-list>
          <div class="terms">
            <a href="https://www.google.com/policies/privacy/" class="Link">Privacy</a>&nbsp;·&nbsp;
            <a href="http://www.google.com/policies/terms/" class="Link">Terms</a>
            <br>
            <a href="http://ssl.gstatic.com/keep/open-source_licenses.txt" class="Link">Open-source licenses</a>
          </div>
        </mat-sidenav>
        <div class="example-sidenav-content">
          <mat-menu class="mat-menu" #appMenu="matMenu" [overlapTrigger]="false">

            <div flexLayout="row" fxLayoutAlign="space-around center" >
              <div  class="profilepic1" (click)="$event.stopPropagation();input.click()"
              [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
              <div class="change_image commonColor">Change</div>
                <input type="file" class="input" (change)="onFileSelected($event)" #input>
              </div>
              <div>
                <div>{{Fname}}&nbsp;{{Lname}}</div>
                <div>{{Email}}</div>
              </div>
            </div>
            <hr>

                <button mat-button class="button2 commonColor" (click)="Logout()">Log out</button>

          </mat-menu>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-container>
    </div>
  </div>
</div>
