@import "../../../scss/mixin.scss";
//colors
$gray: rgb(128, 128, 128);

.matcard {
	@include width(600px);
	margin-top: 7%;
	margin-left: 55%;
}
.span {
	top: 10px;
	right: 0;
	position: absolute;
}
.div2 {
	outline: none;
	@include width(130px);
	position: relative;
	word-wrap: break-word;
}
.take_note {
	padding-top: 12px;
	padding-left: 14px;
	padding-bottom: 0;
}
.card_note {
	margin: 1%;
	height: min-content;
	&:hover .action {
		opacity: 1;
	}
}
.action {
	opacity: 0;
}
.archive {
	margin-top: 90px;
}
div:empty:before {
	content: attr(data-text);
	color: $gray;
}
