@import "../../../scss/mixin.scss";
//colors
$color_iron_approx: rgb(214, 218, 216);

.textarea {
	@include width(90%);
	outline: none;
	&:empty:before {
		content: attr(data-text);
		opacity: 0.5;
		font-size: 12px;
	}
}
.mat-stroked-button {
	border: 0;
	line-height: 58px;
	@include width(270px);
	background-color: $color_iron_approx;
	text-align: left;
	font-weight: 400;
}
.button {
	float: right;
}

