<button mat-icon-button [matMenuTriggerFor]="menuColor" *ngIf="!Delete">
  <i class="material-icons" matTooltip="Change-color" style="opacity: 0.5;">color_lens</i>
</button>
<mat-menu #menuColor="matMenu" yPosition="above" [overlapTrigger]="false" class="colorCard">
  <div class="colorDiv">
    <button mat-menu-item (click)="setcolor('#FAFAFA')" class="colorPalette1" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#FF8A80')" class="colorPalette2" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#FFD180')" class="colorPalette3" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#FFFF8D')" class="colorPalette4" >
      <mat-icon></mat-icon>
    </button>
  </div>
  <div class="colorDiv">
    <button mat-menu-item (click)="setcolor('#CCFF90')" class="colorPalette5" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#A7FFEB')" class="colorPalette6" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#80D8FF')" class="colorPalette7" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#82B1FF')" class="colorPalette8" >
      <mat-icon></mat-icon>
    </button>
  </div>
  <div class="colorDiv">
    <button mat-menu-item (click)="setcolor('#B388FF')" class="colorPalette9" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#F8BBD0')" class="colorPalette10" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#D7CCC8')" class="colorPalette11" >
      <mat-icon></mat-icon>
    </button>
    <button mat-menu-item (click)="setcolor('#CFD8DC')" class="colorPalette12" >
      <mat-icon></mat-icon>
    </button>
  </div>
</mat-menu>
