.remain {
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
.spaceremain {
	float: right;
}
.remainder {
	float: right;
	margin-left: 40px;
}
.clock {
	margin-top: 10px;
}
.button {
	width: 170px;
}
.menu {
	width: 250px;
}
