@import "../../../scss/mixin.scss";

.field1 {
  @include input_width;
}
.button {
	float: right;
}
a {
	text-decoration: none;
}
.maindiv {
	padding: 30px 0;
}
.container > * {
	@include input_width;
}
