
@import '../../../scss/mixin.scss';

//colors
$color_alto_approx: rgb(220, 220, 220);
$color_chalet_green_approx: rgb(85, 107, 47);

.field2 {
	margin-left: 10px;
  @include width(48%);
}
.field1 {
	float: left;
	@include width(48%);
}
.button {
	float: right;
}
a {
	text-decoration: none;
}
.user {
	@include input_width;
}
.pass1 {
	@include width(48%);
}
.pass2 {
	margin-left: 10px;
	@include width(48%);
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@include width(35%);
}
.example-card {
	background-color: $color_alto_approx;
}
#link {
	float: left;
}
.select {
	background-color: $color_chalet_green_approx;
}
.container > * {
	@include input_width;
}
