<div class="container" fxLayout>
  <div class="item item-1" fxFlex="30%" fxFlex.xs="0" fxFlex.sm="0"></div>
  <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
    <div fxLayout="column" fxLayoutGap="5%">
      <div class="item item-1" fxFlex="20%" fxFlex.xs="0" fxFlex.sm="0"></div>
      <div fxFlex="60%" fxFlex.xs="100" fxFlex.sm="100" [formGroup]='rForm'>
        <mat-card class="card">


          <img src="../../../assets/images/a-img.png" alt="FundooNote" class="center">
          <mat-card-title>Create your FundooNote Account</mat-card-title>
          <mat-card-subtitle>to continue to fundooNotes</mat-card-subtitle>
          <mat-form-field class="field1">
            <input matInput placeholder="First name" [(ngModel)]="model.fname" formControlName="fname" required>
            <mat-error class="alert" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">Please provide first name</mat-error>
          </mat-form-field>
          <mat-form-field class="field2">
            <input matInput placeholder="Last name" [(ngModel)]="model.lname" formControlName="lname" required>
            <mat-error class="alert" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">please provide last name</mat-error>
          </mat-form-field>
          <mat-form-field class="user">
            <input matInput placeholder="Email" [(ngModel)]="model.uname " formControlName="email" required>
            <mat-error class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">provide a valid email</mat-error>
          </mat-form-field>
          <mat-form-field class="pass1">
            <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'text' : 'password'" [(ngModel)]="model.pass"
              required>
            <mat-error class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Enter a password(min-length:6) </mat-error>
          </mat-form-field>
          <mat-form-field class="pass2">
            <input matInput placeholder="Confirm password" formControlName="cnfpassword" [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error class="alert" *ngIf="!rForm.controls['cnfpassword'].valid && rForm.controls['cnfpassword'].touched">Both password should be same</mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="space-around center" class="serviceCard" >
            <div *ngFor="let index of card" fxLayout="row" >

          <mat-card  (click)="selectCards(index)"
          [ngClass]="index.id==cardId ? 'select' : 'notSelect'">
            <div class="alignCart" >
        <mat-card class="cartMatCard cartSize">
          <div class="package">{{index.price | currency}}</div><br>
          <div class="basic" >{{index.name | uppercase}}</div>
          <div>
              <ul class="details">
                  <li> {{index.description}}</li>
                </ul>
          </div>
        </mat-card><br>
        <div class="cartTitle" *ngIf="index.id==cardId" >SELECTED</div>
        <div class="cartTitle" *ngIf="index.id!=cardId" >ADD TO CART</div>
      </div>
      </mat-card>










    </div>
          </div>
          <br>
          <br>

          <button mat-flat-button class="button" [disabled]="!rForm.valid" (click)="Signup()">Sign Up</button>
          <a routerLink="/login" class="link">Sign in instead</a>
          <br>

        </mat-card>
      </div>
      <div class="item item-1" fxFlex="20%" fxFlex.xs="0" fxFlex.sm="0"></div>
    </div>

  </div>
  <div class="item item-1" fxFlex="30%" fxFlex.xs="0" fxFlex.sm="0"></div>
</div>
